# Versuch mit Six-Website

https://www.six-group.com/exchanges/indices/security_info_de.html?id=CH0009987501CHF9

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
import time
import pandas as pd
from bs4 import BeautifulSoup
import random
import numpy as np
import re
import glob

In [ ]:
# Generated by Selenium IDE
import pytest
import time
import json
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities
from time import sleep
driver = webdriver.Chrome(executable_path='/usr/bin/chromedriver')
driver.get("https://www.six-group.com/exchanges/indices/security_info_de.html?id=CH0009987501CHF9")
sleep(2)
driver.set_window_size(1920, 1016)
driver.find_element(By.ID, "swx_widget__ImageTabButton_2").click()
sleep(2)
driver.find_element_by_id('swx_widget__ImageTabButton_6').click()
sleep(2)
element = driver.find_element(By.ID, "tabs_level2_3_tablist")
actions = ActionChains(driver)
actions.move_to_element(element).perform()
sleep(2)
element = driver.find_element(By.CSS_SELECTOR, "body")
actions = ActionChains(driver)
actions.move_to_element(element).perform()
driver.find_element(By.NAME, "actionSUBMIT").click()

csv-datei landet im download-folder, den weg kann ich nicht nachvollziehen

datei einlesen

In [2]:
#pd.set_option('display.max_rows', None)

#df = pd.read_csv("/home/pc/Downloads/info_market_data_download.csv", encoding= 'unicode_escape', sep=';')

#df = pd.read_csv("/home/pc/Downloads/info_market_data_download.csv", sep='delimeter', encoding= 'unicode_escape', header=None, skiprows=2)

df = pd.read_csv("/home/pc/Downloads/info_market_data_download.csv", encoding= 'unicode_escape', skiprows=2, sep=';')

In [3]:
#df = df.convert_objects(convert_numeric=True)

In [4]:
df.dtypes    ## output: die spalte 'date' ist nicht sauber formatiert

        Date     object
Price           float64
Volume            int64
Unnamed: 3      float64
dtype: object

In [6]:
df.head(5)

                   Date     Price  Volume  Unnamed: 3
0            19.03.2020  10407.20       0         NaN
1            18.03.2020  10129.06       0         NaN
2            17.03.2020  10296.23       0         NaN
3            16.03.2020  10029.88       0         NaN
4            13.03.2020  10227.06       0         NaN

In [7]:
df = df.iloc[:60]    ##zeilen herausfiltern
df

                    Date     Price  Volume  Unnamed: 3
0             19.03.2020  10407.20       0         NaN
1             18.03.2020  10129.06       0         NaN
2             17.03.2020  10296.23       0         NaN
3             16.03.2020  10029.88       0         NaN
4             13.03.2020  10227.06       0         NaN
5             12.03.2020  10144.29       0         NaN
6             11.03.2020  11161.17       0         NaN
7             10.03.2020  11227.97       0         NaN
8             09.03.2020  11248.96       0         NaN
9             06.03.2020  11880.22       0         NaN
10            05.03.2020  12347.87       0         NaN
11            04.03.2020  12482.78       0         NaN
12            03.03.2020  12300.34       0         NaN
13            02.03.2020  12046.83       0         NaN
14            28.02.2020  11897.75       0         NaN
15            27.02.2020  12341.04       0         NaN
16            26.02.2020  12703.63       0         NaN
17            25.02.2020  12670.86       0         NaN
18            24.02.2020  12926.59       0         NaN
19            21.02.2020  13400.18       0         NaN
20            20.02.2020  13453.31       0         NaN
21            19.02.2020  13561.17       0         NaN
22            18.02.2020  13424.11       0         NaN
23            17.02.2020  13457.28       0         NaN
24            14.02.2020  13419.95       0         NaN
25            13.02.2020  13356.42       0         NaN
26            12.02.2020  13373.62       0         NaN
27            11.02.2020  13397.54       0         NaN
28            10.02.2020  13331.64       0         NaN
29            07.02.2020  13280.42       0         NaN
30            06.02.2020  13297.95       0         NaN
31            05.02.2020  13284.03       0         NaN
32            04.02.2020  13077.32       0         NaN
33            03.02.2020  12916.30       0         NaN
34            31.01.2020  12870.99       0         NaN
35            30.01.2020  13013.22       0         NaN
36            29.01.2020  13150.38       0         NaN
37            28.01.2020  13055.30       0         NaN
38            27.01.2020  12940.79       0         NaN
39            24.01.2020  13149.91       0         NaN
40            23.01.2020  13104.33       0         NaN
41            22.01.2020  13211.52       0         NaN
42            21.01.2020  13194.07       0         NaN
43            20.01.2020  13134.37       0         NaN
44            17.01.2020  13117.25       0         NaN
45            16.01.2020  12947.78       0         NaN
46            15.01.2020  12914.36       0         NaN
47            14.01.2020  12894.36       0         NaN
48            13.01.2020  12857.70       0         NaN
49            10.01.2020  12866.50       0         NaN
50            09.01.2020  12880.66       0         NaN
51            08.01.2020  12879.51       0         NaN
52            07.01.2020  12924.74       0         NaN
53            06.01.2020  12899.70       0         NaN
54            03.01.2020  12938.67       0         NaN
55            30.12.2019  12837.50       0         NaN
56            27.12.2019  12972.24       0         NaN
57            23.12.2019  12957.44       0         NaN
58            20.12.2019  12895.69       0         NaN
59            19.12.2019  12767.23       0         NaN

In [8]:
header = ["Date", "Price"]
df.to_csv('daten_3_monate.csv', encoding='utf-8', index=False, columns = header)

## Der Inhalt von 'Date' wird nicht gespeichert

/home/pc/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [ ]:
#df['Date']   #funktioniert nicht

In [ ]:
#df['Date'] = pd.to_datetime(df['Date'], format= '%d/%m/%Y')

In [ ]:
#df.iloc() = df.iloc().astype(float)